*{
  color:black;
}

body,.markdown-body{
  background:#4f4f4f;
}
  
h1,h2,a{
  color:black;
}
  
h4{
  color:#a4dcb6;  
}
 
img.thm_icon.thm_mr{
  background:#343c42;
}
  
em{
  color:red;
}

.markdown-body .highlight pre, .markdown-body pre{
  background:lightgrey;
  border-radius:10px;
}

.markdown-body .highlight{
  border-radius:10px;
}
